.container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 30px;
     padding: 40px 20px;
}

.card {
     width: 250px;
     height: 100px;
     border-radius: 5px;
     border: 1px solid lightgrey;
     transition: background-color ease 0.5s;
}

.card:hover {
     background-color: black;
}

.card:hover .card_heading {
     color: white;
}

.card_text_container {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
}

.heading {
     font-size: 35px;
     font-weight: 700;
     text-align: center;
     margin-top: 30px;
}